# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Entorno Django
*.log
*.pot
*.pyc
*.pyo
*.db
.env
*.env

# VSCode
.vscode/

# Entornos virtuales
venv/
env/
ENV/

# Static files generados automáticamente
staticfiles/
frontend/staticfiles/
**/staticfiles/

# Node modules
node_modules/

# ⚠️ ¡No ignores el CSS generado por Tailwind!
!frontend/static/output.css
