# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
.env

# VSCode
.vscode/

# Virtual environments
venv/
env/
ENV/

# Static files generados por collectstatic
/staticfiles/

# Node modules
node_modules/

# ⚠️ No ignores el output.css necesario para Tailwind
!frontend/static/output.css